{%  block footer %}
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2024 <a href="{{path('home_page')}}">Social Blog</a>.</strong> All rights reserved. 
    <div  class="float-left d-none d-sm-block">
 <a href="{{path('app_mention_legal')}}">mention Legal</a>

  
    </div>
</footer>
{% endblock %}